.input_dragAndDrop {
    margin-top: 16px;
    display: flex;
    max-width: 640px;
    width: 100%;
    max-height: 182px;
    background-color: gray;
    padding: 155px 64px;
    border-radius: 16px;
}

.input_dragAndDrop_dropped:hover{
    cursor: pointer;
}

.input_dragAndDrop_dropped{
    border: 1px solid gray;
    margin-top: 16px;
    display: flex;
    max-width: 640px;
    width: 100%;
    max-height: 182px;
    background-color: white;
    padding: 155px 64px;
    border-radius: 16px;
}



.info_drugAndDrop_container {
    display: flex;
    flex-direction: column;
    margin: -35px auto 0;
    align-items: center;
    height: 54px;
}

.text_drugAndDrop {
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
}