<div class="position-fixed bottom-0 start-50 translate-middle-x pb-2" style="z-index: 11">
    <div id="messageOnSave" class="toast message-on-save__container" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body message-on-save__content d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <div id="textMessageOnSave"></div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="ms-2" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                </svg>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
    </div>
</div>

