.line {
    padding: 2px 10px;
    border-radius: 8px;
    background-color: #C4C4C4;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 5px;
}

.circleForIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0C3FC;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.content_str {
    margin-left: 10px;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}