.bannerImage {
    margin-top: 15px;
    border-radius: 40px;
    height: 512px;
    width: 1100px;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.85;
}

.bannerContainer {
    margin-left: 1.8rem;
    width: 85%;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    color: white;
}

.bannerFilmTitle {
    font-size: 3rem;
}

.bannerFilmDescription {
    word-break: break-all;
    font-size: 20px;
}