.person_photo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.person_container-page{
    min-width: 600px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .person_container-page{
        min-width: 0px;
    }
}

.person_films-title{
    font-size: 1.3em;
    font-weight: bold;
}

.person_amount-films{
    font-size: 1em;
    font-weight: 500;
    color: #bbbbbb;
}

.person_name{
    font-size: 2.5em;
    font-weight: bold;
}
.person_films-title_container{
    border-bottom: 1px solid #737373;
    padding-bottom: 1.5em;
}