<div class="d-flex align-items-center justify-content-center [ container_user-not-found ]">
    <h1 class="ms-3 [ text-error ]">Вы забанены администраицей сайта TimMovie</h1>
</div>


@section Styles
{
    <link rel="stylesheet" href="/css/Errors/userNotExisting.css">
}