.panel {
    min-width: 455px;
    border: 1px solid gray;
    padding: 1% 5% 5%;
}

.box {
    margin-top: 5%;
    position: relative;
    background: #100e19;
}

.box::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box::before,
.box::after {
    background: linear-gradient(235deg, #100e19, #e84855, #8a2be2);
}

.tmbanner {
    max-width: 100%;
}

.banner {
    padding: 5px;
    width: 100%;
}

.films-search {
    margin-top: 3%;
}

.films-search-input {
    border-radius: 10px !important;
    min-height: 10px;
    max-height: 40px;
    min-width: 180px;
    max-width: 30%;
    background-color: #100e19 !important;
    color: white !important;
}

.list-title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: large;
    width: 100%;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    padding: 0.3%;
    font-size: medium !important;
}

.navigation-txt {
    color: white;
}

.films-list {
    min-height: 10px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid gray;
}

.films-container:last-child {
    border-bottom: 1px solid gray;
}

.film-card {
    text-align: start !important;
    padding: 1px;
}

.film-photo {
    min-height: 50px;
    max-width: 100%;
    max-height: 140px;
}

.film-title {
    width: 39%;
    text-align: left !important;
    padding-left: 2% !important;
    font-size: large;
    color: #ffffff;
}

.film-number {
    padding: 1%;
    border-right: solid 1px gray;
    color: white;
}

.film-number-large {
    padding-right: 1%;
    border-right: solid 1px gray;
    color: white;
}

.films-container {
    margin-top: 0.5%;
}

.clickable:hover {
    cursor: pointer;
}

.film-block {
    font-size: 100%;
    display: flex;
    align-items: center;
}

.film-duration {
    display: flex;
    justify-content: center;
    width: 15%;
}

.goodGrade {
    color: #00a676;
}

.mediumGrade {
    color: white;
}

.badGrade {
    color: rgb(196, 19, 19);
}

.film-grade {
    display: flex;
    justify-content: center;
    width: 140px;
}

.navigation-film-grade {
    display: flex;
    justify-content: center;
    width: 120px;
}

.navigation-film-watched-date {
    display: flex;
    justify-content: center;
    width: 210px;
}

.film-watched-date {
    width: 190px;
    display: flex;
    justify-content: center;
}

.watched-date-text{
    color: gray !important;
}

.navigation-film-duration {
    display: flex;
    justify-content: center;
    width: 200px;
}

.navigation-film-name {
    width: 48%;
}

.pagination-buttons-area{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.pagination-button{
    width: 15%;
    color: white;
}

.pagination-numbers{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.setGradeButton:hover{
    cursor: pointer;
}

.filmIdHidden{
    display: none;
}