.subscribeCardInSubscribeSearch{
    width: 220px;
    height: 370px;
    color: darkgrey;
    margin: 10px 15px;
    padding: 0;
    border-radius: 6px;
}


.subscribeCardInSubscribeSearch-body-description{
    height: 120px;
}

.subscribe-body{
    width: auto;
}

.subscribeCardInSubscribeSearch-body-price{
    margin-top: 20px;
}

.subscribeCardInSubscribeSearch-header{
    font-size: 21px;
    color: rgb(187, 13, 58);
}

.subscribeCardInSubscribeSearch-body-button{
    color: rgb(187, 13, 58);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-top: 20px;
}

.subscribeCardInSubscribeSearch-body-button:hover{
    cursor: pointer;
    background: rgb(187, 13, 58);
    color: white;
}

.btn-films, .btn-genres{
    padding: 2px;
    margin-top: 5px;
    background: rgb(187, 13, 58);
    margin-right: 5px;
    width: 100%;
}

.subscribeCardInSubscribeSearch-body-buttons{
    height: 70px;
}

.subscribeCard-price{
    width: 70%;
    text-align: end;
}

.subscribeCard-name{
    width: auto;
    margin-top: 6px;
}

.dropdown-menu.scrollable {
    height: auto;
    max-height: 30em;
    overflow-x: hidden;
}

.subscribeCard-price{
    color: rgb(187, 13, 58);
    font-size: 21px;

}