@model string

<div class="modal fade" id="editProfileImg" data-bs-keyboard="true" tabindex="-1" 
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content edit-profile-modal__container">
            <div class="d-flex p-4">
                <div class="edit-profile-modal__current-img__container p-4">
                    <img class="edit-profile-modal__current-img" src="@Model"/>
                    <div class="mb-5 loader hide"></div>
                </div>
                <div class="d-flex flex-column ms-4">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="d-flex justify-content-center p-2 mb-2">
                            <div class="h4">Загрузка фотографии</div>
                        </div>
                        <button class="d-flex flex-column align-items-center p-5 edit-profile-modal__add-img-container " id="dropArea">
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" class="edit-profile-modal__add-img-icon" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                            </svg>
                            <div class="text-white">
                                <h6>Выберете файл</h6>
                                <div>Либо перетащите файл</div>
                                <div class="edit-profile-modal__error-img"></div>
                            </div>
                        </button>
                        <input id="imgProfileInput" type="file" accept="image/jpeg,image/jpg,image/pjpeg,image/png" name="files[]" hidden="true">
                        <button class="btn btn-outline-light mt-3" id="saveProfileImgBtn" disabled>Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>