.more-filters {
    position: relative;
    background-color: #312b45;
    border-radius: 5px;
    min-width: 100%;
}

.more-filters_active {
    margin: 0;
    background-color: #7e798f;
}

.more-filters_button {
    padding: 5% 2%;
    cursor: pointer;
    font-size: 1.2em;
}

.more-filters__list-item {
    cursor: pointer;
    padding: 0;
    margin: 10% 5% 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.63);
}

.more-filters_list-item_active {
    color: white !important;
}

.more-filters__menu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    z-index: 4;
    background-color: #312b45;
    border-radius: 5px;
    margin-top: 3%;
}

.more-filters__menu-container {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    width: 580px;
}

.more-filters__list-item_mark {
    visibility: hidden;
}

.more-filters__list-item_mark_selected {
    visibility: visible !important;
}

.more-filters__dropdown-arrow_rotate {
    transform: rotate(180deg);
}