body {
    background-color: #100e19;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.search-film {
    margin-top: 3%;
}

.search-film__input {
    min-width: 320px;
    max-width: 30%;
}

.filter {
    margin-top: 2%;
}

.additional-filters {
    border-radius: 10px;
    background-color: #1f1b2e;
    margin-top: 3%;
}

.additional-filters__container {
    padding: 10px;
    display: grid;
    grid-column-gap: 3%;
    grid-template-columns: repeat(4, 1fr);
}

.filter-item {
    margin-bottom: 10px;
}

.more-filters__menu-container_one-value {
    display: flex;
    flex-direction: column;
}