body {
    background-color: #100e19;
    color: white;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.card-film {
    transition: all 0.3s ease-out 0s;
    background-color: #1f1b2e;
    max-width: 300px;
    position: relative;
}

.card-description {
    color: grey;
    display: none;
}

.card-film:hover {
    transition: all 0.3s ease-in 0s;
    max-width: 320px;
    position: relative;
    z-index: 2;
}

.more-info-card-film {
    color: rgb(214, 214, 214);
}