body {
    background-color: #100e19;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.search-film {
    margin-top: 3%;
}

.search-film__input {
    min-width: 320px;
    max-width: 30%;
}