<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TimMovie.Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/Navbar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body>
<header>
    <div class="container-xl">
        <nav class="navbar navbar-expand-lg navbar-dark border-bottom box-shadow mb-3">
            <div>
                <a href="">
                    <img class="logoImg" src="~/img/logo.png" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between">
                <ul class="navbar-nav">
                    @* <li class="nav-item nav-button-left-first"> *@
                    @*     <a href="#" class="navbar-text">Новинки</a> *@
                    @* </li> *@
                    <li class="nav-item nav-button-left-first">
                        <a class="navbar-text" asp-controller="Films" asp-action="Page">Фильмы</a>
                    </li>
                    <li class="nav-item nav-button-left">
                        <a href="#" class="navbar-text">Смотреть позже</a>
                    </li>
                    <li class="nav-item nav-button-left">
                        <a href="#" class="navbar-text">Поддержка</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item nav-button-right">
                        <a href="#" class="navbar-text">Оплатить подписку</a>
                    </li>
                    <li class="nav-item nav-button-right">
                        <a href="#" class="navbar-text">Поиск</a>
                    </li>
                    <li class="nav-item nav-button-right">
                        <a href="" class="navbar-text">
                            <svg class="notifImg" xmlns="http://www.w3.org/2000/svg" width="288"
                                 height="288" viewBox="0 0 510 510">
                                <path d="M255,510c28.05,0,51-22.95,51-51H204C204,487.05,226.95,510,255,510z M420.75,357V216.75    c0-79.05-53.55-142.8-127.5-160.65V38.25C293.25,17.85,275.4,0,255,0c-20.4,0-38.25,17.85-38.25,38.25V56.1    c-73.95,17.85-127.5,81.6-127.5,160.65V357l-51,51v25.5h433.5V408L420.75,357z M369.75,382.5h-229.5V216.75    C140.25,153,191.25,102,255,102s114.75,51,114.75,114.75V382.5z"
                                      fill="currentColor" class="color000 svgShape"/>
                            </svg>
                            <div class="notifText">Уведомления</div>
                        </a>
                    </li>
                    <li class="nav-item nav-button-right-last">
                        <a href="#" class="navbar-text">Войти</a>
                    </li>
                    <!--                <li class="nav-item nav-button-right-last">-->
                    <!--                    <a href="" class="navbar-text">-->
                    <!--                        <svg class="profileImg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="288" height="288">-->
                    <!--                            <path d="M16 16A7 7 0 109 9 7 7 0 0016 16zM16 4a5 5 0 11-5 5A5 5 0 0116 4zM17 18H15A11 11 0 004 29a1 1 0 001 1H27a1 1 0 001-1A11 11 0 0017 18zM6.06 28A9 9 0 0115 20h2a9 9 0 018.94 8z"-->
                    <!--                                  fill="currentColor" class="color000 svgShape"></path>-->
                    <!--                        </svg>-->
                    <!--                    </a>-->
                    <!--                </li>-->
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="container-xl">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

@await RenderSectionAsync("Scripts", false)
</body>
</html>