<head>
    <link rel="stylesheet" href="~/css/loginStyle.css">
    <link rel="stylesheet" href="~/css/SmallPageElements/loader.css">
</head>
<div class="modal fade text-align-center" id="modal1" tabindex="-1" role="dialog" aria-bs-labelledby="modalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 430px !important;">
        <div class="modal-content" style="background-color: #100e19 !important;border-radius: 20px">
            <div class="modal-body">
                <div class="mt-2 mb-4 d-flex justify-content-center">
                    <h1 class="modal-title" id="modalLabel1">Вход</h1>
                </div>
                
                <div class="row mb-3 mt-3">
                    <div class="col">
                        <input required="required" name="userName" id="userName" type="text" class="loginInput" placeholder="Логин или почта">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input required="required" name="password" id="password" type="password" class="loginInput" placeholder="Пароль">
                    </div>
                </div>
                <div class="row mb-10">
                    <div class="col">
                        <div class="form-check">
                            <input name="rememberMe" id="rememberMe" type="checkbox" class="form-check-input" checked style="cursor: pointer;">
                            <label style="color: white" class="form-check-label">Запомнить меня</label>
                        </div>
                    </div>
                </div>
                <input type="submit" id="loginButton" class="mt-4 mb-2 login-button-submit" value="Войти">
                <div class="mb-4 mb-2 loader hide"></div>
                <div style="color: darkred; display: none" id="textError"></div>
                <div class="col d-flex justify-content-center mt-2">
                    <div class="row mb-3">
                        <a asp-controller="Account" asp-action="Registration" class="me-auto" style="font-size: 17px;text-decoration: none;color: #0a3dbe">Еще не зарегистрированы?</a>
                    </div>
                </div>
            </div>
        </div >
    </div>
</div>

<script src="~/js/Navbar/loginScript.js"></script>