@model (string email, string userName)
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/resendEmailScript.js"></script>
<body class="container" style="display:flex;flex-direction:column;align-items:center;background-color: #100e19">
<span style="color: white;">Добро пожаловать, @(Model.userName)!  Для входа в аккаунт подтвердите свою почту. На @Model.email отправлено письмо с подтверждением.</span>
<input hidden value="@Model.email" id="emailInput">
<br>
<span style="color: white;cursor: pointer;text-decoration: underline" id="resendEmailBtn" onclick="resendEmail()">Отправить еще раз</span>
<br>
<a asp-controller="MainPage" asp-action="Mainpage" style="color: white">На главную</a>
</body>
