* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-weight: 400;
}

.info_container{
  width: 60%;
}

.movie_card {
  position: relative;
  display: block;
  width: 800px;
  height: max-content;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}

.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}

.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
  cursor: pointer;
}

.movie_card .info_section .movie_header {
  position: relative;
  padding: 10px 25px 10px 25px;
  height: 40%;
}

.z-index3{
  position: relative;
  z-index: 3;
}

.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
}

.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
}

.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
}


.movie_desc{
  height: 150px;
  position: relative;
}

.movie_card .info_section .movie_desc .text {
  height: 100%;
  color: #cfd6e1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

.movie_img {
  border-radius: 10px;
  width: 100%;
  height: 100% !important;
  object-fit: fill;
}

.movie_img:hover{
  opacity: 0.8;
}


/* actors */
.actors{
  position: relative;
  z-index: 3;
  width: 80%;
}


.actor {
  padding: 1px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  max-width: 68.8px;
  max-height: 40px;
  text-align: center;
  font-size: 0.9rem;
  color: #828187;
  height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  width: 60px;
  height: 60px;
  border: 7px solid #36353e;
  border-radius: 8px;
  background-color: #36353e;
}

.actor_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.watch_later_btn{
  z-index: 10;
  position: absolute;
  top:2px;
  right: 5px;
  padding: 10px;
  cursor: pointer;
}

.actor:hover .content {
  border: 7px solid #494850;
  background-color: #494850;
}

.actor:hover .caption {
  color: #fff
}

.actor:hover #film_rating {
  background-color: #494850;
}

#film_rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #36353e;
  color: #fff;
}

.hover_link{
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.hover_link:hover{
  color: rgba(206, 228, 253, 0.5);
}

#movie_card {
  box-shadow: 0 0 150px -45px rgba(255, 51, 0, 0.5);
}

#movie_card:hover {
  box-shadow: 0 0 120px -55px rgba(255, 51, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 100%;
  }

  .movie_desc {
    width: 80%;
    text-align: center;
  }

  .info_section {
    background:  linear-gradient(to right, #03071e 50%, transparent 100%)
  }

  .blur_back {
    width: 40%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .info_container {
    width: 100%;
  }

  .movie_card {
    width: 90%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_card .blur_back{
    background-size: cover;
  }


  .movie_card .info_section .movie_header{
    width: 100%;
    margin-top: 85px;
    height: auto;
  }

  .movie_desc {
    width: 90%;
  }
  
  .info_section {
    background: linear-gradient(to top, #03071e 50%, transparent 100%);
    display: inline-grid;
  }

  .bright_back{
    object-fit: cover;
    object-position: center;
  }
}


