.text_color {
  color: #fff;
}

.circleBorders {
  border-radius: 40px;
}

.regretion_div{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:40px;
  z-index:1000
}

.carousel-item {
  background: transparent;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

#bannerCarousel .carousel-item {
  min-height: 32rem;
}

#bannerCarousel .carousel-item h1{
  font-size: 3rem;
}

#bannerCarousel .carousel-item p{
  font-size: 20px;
  margin: 0;
}

.banner-container {
  word-wrap: break-word;
  width: 90%;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.btn_color {
  margin-top: 2%;
  color: white;
  background: #ea003d;
}

.btn_color:hover {
  color: white;
  filter: brightness(120%) saturate(120%);
}

.shift-left{
  position: relative;
  left: -20%;
}

.shift-right {
  position: relative;
  right: -20%;
}

@media screen and (max-width: 1000px) {
  #bannerCarousel .carousel-item h1{
    font-size: 2.5rem;
  }

  #bannerCarousel .carousel-item p{
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  #bannerCarousel .carousel-item{
    text-align: center;
  }
}