@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");

body {
  background-color: #100e19;
}

* {
  font-family: "Roboto", sans-serif;
}

.text_color {
  color: #fff;
}

.circleBorders {
  border-radius: 40px;
}

.carousel-item {
  background: #100e19;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

#bannerCarousel .carousel-item {
  min-height: 32rem;
}

#bannerCarousel .carousel-item h1{
  font-size: 3rem;
}

#bannerCarousel .carousel-item p{
  font-size: 20px;
  margin: 0;
}

.banner-container {
  width: 90%;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.btn_color {
  margin-top: 2%;
  color: white;
  background: #ea003d;
}

.btn_color:hover {
  color: white;
  filter: brightness(120%) saturate(120%);
}

.shift-left{
  position: relative;
  left: -20%;
}

.shift-right {
  position: relative;
  right: -20%;
}

/* film carousel styles */
h1{
  font-size: 24px;
}

#recommendationsCarousel .carousel-item {
  min-height: 10rem;
}

.prev_next_buttons {
  fill: rgba(255, 255, 255, .72);
  cursor: pointer;
  opacity: 1;
}

.prev_next_buttons:hover {
  fill: #fff;
}

.column {
  float: left;
  width: 12.5%;
  padding: 8px;
}

.my_row {
  content: "";
  display: grid-inline;
  clear: both;
}

.circleCardBorder {
  border-radius: 15px;
}

.last_card_style{
  border-radius: 15px;
}

.last_card_style :hover{
  transform: scale(1.04);
  background-color: #231f34;
}

@media screen and (max-width: 1400px) {
  .column {
    width: 14.28%;
  }
}

@media screen and (max-width: 1200px) {
  .column {
    width: 16.66%;
  }
}

@media screen and (max-width: 1000px) {
  .column {
    width: 20%;
  }
}

@media screen and (max-width: 800px) {
  .column {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 33.33%;
  }
}

@media screen and (max-width: 450px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 300px) {
  .column {
    width: 100%;
  }
}

.carousel-container {
  position: relative;
}

.carousel-container .carousel-inner {
  overflow: hidden;
}

.carousel-container .track {
  display: flex;
  transition: 0.7s;
}

.carousel-container .card-container {
  flex-shrink: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.carousel-container .card-container .card {
  cursor: pointer;
}

.card{
  background-color: inherit;
  border-width: 0;
}

.carousel-nav a {
  z-index: 10;
  width: 50px;
  top:-8%;
  cursor: pointer;
}

.carousel-nav .prev {
  left: -40px;
  display: none;
}

.carousel-nav .next {
  right: -40px;
}

/* end of film carousel styles */