a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.modal-content {
    margin-top: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.modal-header-text {
    color: white;
    font-size: 40px;
    font-weight: 800;
}

.close:hover {
    fill: white;
    cursor: pointer;
}

.input-search {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    text-indent: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.search-elements {
    margin-top: 30px;
    height: auto;
    color: #a6a2b3;
    font-weight: 600;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 20px;
    grid-row-gap: 1.5em;
}

.search-element-name {
    font-size: 16px;
}

.search-element-label {
    font-size: 14px;
}

.search-element {
    margin-left: 5px;
    fill: #a6a2b3;
}

.search-element-content {
    margin-left: 18px;
}

.search-element:hover {
    cursor: pointer;
    fill: #B22222;
    color: #B22222;
}

@media (max-width: 1000px) {
    .search-elements {
        grid-template-columns: 12fr;
    }
}

@media (max-width: 500px) {
    .input-search {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    .input-search {
        font-size: 9px;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}

.modal-backdrop {
    background: #000000;
}

.modal-backdrop.show {
    opacity: 90%;
}